@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap');

@media only screen and (max-width: 850px) {

  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
  
  body{
    background-color: teal;
    height: 100%;
    width: 100%;
  }
  
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background: url(http://api.thumbr.it/whitenoise-361x370.png?background=030303ff&noise=626262&density=24&opacity=15);
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.content{
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 5%;
    right: 5%;
    background-color: rgb(24, 24, 24);
    box-shadow: rgb(92, 92, 92) 5px 5px;
}

.left-content{
    float: left;
    width: 40%;
    height: 100%;
    position: absolute;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-top: solid 3px #ffd000;
    border-bottom: solid 3px #ffd000;
    border-left: solid 3px #ffd000;
    border-right: solid 6px #ffd000;
}

.perfil{
    justify-content: center;
    align-content: center;
    padding-top: 20%;
}

.me {
    width: 200px;
    height: 200px;
    border: 3px solid #ffd000;
    border-radius: 320px;
    transition: all .2s ease-in-out;
}

.me:hover {
  color: #ffd000;
  box-shadow: 0 0 15px #ffd000;
  text-shadow: 0 0 15px #ffd000;
}

.name{
    padding: 30px;
    font-size: 30px;
    min-width: 30px;
    font-family: 'Nunito Sans', sans-serif;
    color: #ffd000;
}


.right-content{
    float: right;
    width: 60%;
    height: 100%;
    position: relative;
    align-content: center;
    justify-content: center;
    border: solid 3px #ffd000;
}

#s-perfil {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  #s-perfil li {
    list-style: none;
    margin: 5% 5%;
  }
  
  #s-perfil li a {
    position: relative; 
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 43px;
    background: #333;
    border-radius: 50%;
    font-size: 20px;
    color: #666;
    transition: .5s;
  }
  
  #s-perfil li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffd000;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  #s-perfil li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffd000;
  }
  
  #s-perfil li a:hover {
    color: #ffd000;
    box-shadow: 0 0 5px #ffd000;
    text-shadow: 0 0 5px #ffd000;
  }

  nav{
    float: right;
    padding: 3% 15%;
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
  }

  .btn{
    color:#666;
    background:rgba(3, 3, 3, 0.5);
    padding:10px 20px;
    font-size:12px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
  }
  
  .btn:hover{
    border:none;
    background:rgba(3, 3, 3, 0.4);
    background:#ffd000;
    color:#1b1b1b;
  }

  .resume{
    margin: 22% 5%;
    color: #ffd000;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 45px;
  }

  .resume ul{
    padding: 50px;
  }

  footer{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    bottom: 2px;
    left: 50vw;
    color: whitesmoke;
    text-align:center;
    justify-content: center;
    position: fixed;
  }

  footer .fa-heart{
    color: tomato;
  }

  footer .fa-mug-hot{
    color: #ffd000;
  }

